[2015-11-25 21:06] May-0 opened #5 "It broke again!"
Absolutely love this, my mini map runs with it but it seems to have broke again with one of the recent updates. Is there a fix coming out soon?

[2015-11-25 22:44] xzfc commented on #5
Fixed by #4.

[2015-11-25 22:44] #5 closed

[2015-12-10 14:27] SJMakin opened #6 "Cell Control (Feature request)"
Really like this project.

Would be even better if the API exposed cell controls, such as move/split/shoot mass.

I have no idea if this is viable (or already possible!) but if it could be included in a future release I would be extremely grateful.

[2015-12-10 14:41] SJMakin commented on #6
Looking at Main_Out.js it looks like it should just be a case of wrapping the registerEvent function for split/shoot. Not sure about moving though.

[2015-12-10 15:00] xzfc commented on #6
You can split and shoot mass even without expose, by sending fake `space` and `W` key events. See minimal example for split:

[code]

However, moving using sending mouse events to canvas is inconvenient: you have to translate move destination world coordinates to canvas pixel coordinates.
So, most likely, I will add functions/hooks to control cell movement.

[2015-12-10 15:09] SJMakin commented on #6
That would be most excellent. Thanks.

[2015-12-14 23:54] aaxxo opened #7 "Example, Add a kawaii face to viruses"
I may be missing the obvious, but where do I run this code?

    image.crossOrigin = 'anonymous';
    image.src = 'http://i.imgur.com/V8EOXwT.png';
    window.agar.hooks.cellSkin = function(cell, old_skin) {
    if (old_skin) return old_skin;
    if (cell.isVirus) return image;
    return null;
    }

I want to have it in a custom main_out.js file but I get

    Cannot read property 'hooks' of und

[2015-12-14 23:55] jakemayeux commented on #6
I have succesfully used the $(window).mousemove() to control cell movement. To convert to canvas coordinates, all I did was add half the window dimensions so the origin of the mouse was in the center of the window. This works perfectly if you are only a single cell, however if you are split, I think the center may be a bit off. This method seems good enough at least until the movement hooks are ad

[2015-12-15 06:15] xzfc commented on #7
Paste it into the browser console.

[2015-12-15 09:17] SJMakin commented on #7
Or you could put in in to a userscript!  Example:

// ==UserScript==
// @name        VirusMod
// @namespace   VirusMod
// @include     http://agar.io/*
// @include     https://agar.io/*
// @version     0.01
// @grant       none
// @author      xzfc@Github
// ==/UserScript==

image = new Image();
image.crossOrigin = 'anonymous';
image.src = 'http://i.imgur.com/V8EOXwT.png';
window.agar.hooks.cellSk

[2015-12-15 09:30] SJMakin commented on #6
If you can provide a simple example of moving to the nearest cell or even '0,0', using the window.agar information, that would be splendid.

[2015-12-15 13:31] aaxxo commented on #7
Thanks :)  In future I will maybe try to include agar-expose in the cusotm client so other people can see the kawaii face :+1:

[2015-12-15 13:31] #7 closed

[2015-12-15 18:53] jakemayeux commented on #6
Unfortunately agar is down right now and I don't currently have access to the original code so I am not entirely sure whether or not this will work. Either way this is essentially it

Using JQuery:

[code]

Pure JS:

[code]

moveCell(0, -10) = Up
moveCell(10, 0) = Right

[2015-12-15 19:18] jakemayeux commented on #6
Whoops, Agar is back up and I tested it. Turns out I needed to use canvas instead of window.

I'm going to have to mess around with this a bit more but for now it is in world coordinates so moveCell(0,0) brings you to the center of the map.

[code]

[2015-12-15 19:24] SJMakin commented on #6
Awesome - works nicely. Thanks :+1:

[2015-12-15 21:28] SJMakin commented on #6
Doesnt seems to work with the coordinates of the cells in window.agar.allCells - probably the issue that xzfc mentioned.

I tried to make a simple script to eat the nearest food but no joy.   Perhaps I have missed something?

Here is the script for reference:

// ==UserScript==
// @name ExposeTest
// @namespace ExposeTest
// @include http://agar.io/*
// @include https://agar.io/*
// @version 0.01

[2015-12-15 23:25] jakemayeux commented on #6
Try it again but change my function to

[code]

[2015-12-15 23:32] jakemayeux commented on #6
Oh BTW, you can use the for-of loop instead of for-in. Its not necessary but I thought it was a pretty cool function when I found out about it. Plus it saves a line of code

`for (var cell of window.agar.allCells) {`
   ~~`var cell = window.agar.allCells[c];`~~

[2015-12-16 04:16] xzfc commented on #6
You can transtate coordinates using `toPixelCoords` function. I don't have
access to PC right now, so it is untested.

[code]

[2015-12-16 11:25] SJMakin commented on #6
OK - I believe those conversion methods work a charm, but I am still not able to correctly move the players cell to the food.  I added a method to draw a line between the player and and nearest food, and that looks great (when it displays - i should really use the drawing hooks I know) but the cell goes off in another direction entirely.  I have tried both of the movement functions above and neith

[2015-12-16 16:03] xzfc commented on #6
Replacing `moveCell` with

[code]

works for me. I'm not into jQuery and can't say why `$('canvas').trigger('mousemove', ...` does not work.

[2015-12-16 16:07] SJMakin commented on #6
Whey :+1: that works great!  Thanks xzfc, you are a star!

[2015-12-16 16:09] SJMakin commented on #6
Feel free to close this now, but it may still be worth considering adding a hook and/or documenting this for reference.  Thanks again.

[2015-12-16 16:21] #6 closed

[2016-01-07 03:16] DaAwesomeRazor opened #9 "Can you add mouse coords? im pretty sure its case 32?"
As in the title

[2016-01-11 03:00] xzfc commented on #9
Emm, you want to read mouse coordinates? Explain, please.

FYI, case 32 is "Owns blob" opcode that server sends to client [1](http://agar.gcommer.com/index.php?title=Protocol#Owns_blob_.28opcode_32.29).

[2016-01-15 02:03] DaAwesomeRazor commented on #9
@xzfc Im an idiot just saying. THey are stored in vairable wa and va in the main.js.

Mouse coordinates. I am making bots and i need the bots to follow mouse. I made my own custom main.js and it is stored in function Ra() and vairables wa and va. I like using the script better though

[2016-01-15 19:16] jakemayeux commented on #9
I think this is what you want

https://github.com/xzfc/agar-expose/issues/6

[2016-01-23 04:19] DaAwesomeRazor commented on #9
@jakemayeux @xzfc I mean mouse coordinates. like the ones for bots. I need ones for my bots.

[2016-01-23 17:33] xzfc commented on #9
Look at this:

[code]

[2016-01-24 22:24] DaAwesomeRazor commented on #9
Works...

[2016-01-24 23:58] DaAwesomeRazor opened #10 "A bunch of questions"
Question 1: How would I add borders?

Question 2: How could I change the way pellets and viruses look(ex, making viruses not spikey, or change the size of the pellets)

Question 3: How could I change the picture of the background? SO it says A1 A2 A3 A4. I can either change the picture or draw it using canvas. I think I should just change the picture though. Much easier

[2016-01-27 16:46] xzfc commented on #10
[code]

Coordinates of world borders is located inside `window.agar.dimensions` array.
You don't need to transform coordinates from screen coordinates to world ones; so that means if you draw, for example, circle in coordinates `{x:0,y:0}`, then it will be drawn right in centre of the map.

You can enable this feature globally, not per-cell: `window.agar.simpleCellDraw = true;`

One way is to defi

[2016-01-28 03:04] DaAwesomeRazor commented on #10
@xzfc ok Tried the border thing and it worked !!! Thanks so much.

window.agar.simpleCellDraw = true does not do anthing

I have not tried anything for drawing over a cell though

[2016-01-28 03:10] DaAwesomeRazor commented on #10
@xzfc  does not work
  var ctx = document.getElementById("canvas").getContext("2d")
 window.agar.hooks.afterCellStroke = function(cell) {
    ctx.font = "30px Arial";
ctx.fillText("Hello World",10,50);
}

[2016-01-28 03:53] #10 closed

[2016-01-28 03:54] DaAwesomeRazor opened #11 "Uncaught TypeError: window.setGameMode is not a function"
Sorry for posting so many issues. IM working on an extension. ANyways, i m getting this error once in a while. It causes a white screen

[2016-01-28 21:33] #9 closed

[2016-02-02 13:44] xzfc commented on #11
I know about this bug. Workaround for now is pressing `Ctrl+F5` when it happens.
I think, it is caused by https://github.com/Tampermonkey/tampermonkey/issues/211.

[2016-02-03 03:42] #11 closed

[2016-02-03 14:34] MasonBurdette opened #12 "Draw Text in Top Corner"
I am wondering how to draw text in the top left hand corner (ex, 12/20 Bots)

This can be seen in Agario Powerups.

[2016-02-03 14:58] xzfc commented on #12
Put text on floating div with transparent background.

[2016-02-04 01:38] mbm3 commented on #12
much easier than i thought :P

[2016-02-04 01:38] #12 closed

[2016-02-23 02:48] jakemayeux opened #13 "Dimensions[] no longer returns accurate data"
The coordinates are relative to the player's position

[2016-02-23 07:56] u624ka commented on #13
The coordinates are still accurate and absolute except now they are not of the entire playfield, but of a rectangle centered at the player's position, and are in a randomly shifted coordinate system.

[2016-02-25 19:40] jakemayeux commented on #13
Yes, I've noticed. I made a change to the wiki

[2016-02-26 17:01] kcxx opened #14 "How to send packets?"

[2016-02-26 18:48] u624ka commented on #14
https://github.com/xzfc/agar-expose/issues/6

[2016-03-05 21:23] henopied opened #15 "dimensions hook"
Would it be possible to make a hook for case 64 so I could get a callback that would be called every time opcode 64 gets sent.

[2016-03-05 21:50] mbm3 commented on #15
same, tried adding a hook, and never got the callback after pressing play.

[2016-03-05 22:15] xzfc commented on #15
Sure, `window.agar.hooks.dimensionsUpdated(minX, minY, maxX, maxY)` added.

[2016-03-05 23:28] henopied commented on #15
Thanks, you made my day :)

[2016-03-05 23:28] #15 closed

[2016-03-05 23:28] mbm3 commented on #15
:D

[2016-03-08 12:33] HackMeThat opened #16 "Error Report"
I've 2 errors when expose.js is loaded
[code]

[2016-03-08 12:52] xzfc commented on #16
Fixed.

[2016-03-08 12:52] #16 closed

[2016-03-08 13:03] xzfc commented on #14
Send it using `window.agar.webSocket` using plain WebSocket API. Or, emit fake keyboard events on canvas.

[2016-03-08 13:09] xzfc commented on #13
Closing since I will not fix this.
Expose should be as dumb as possible to make its maintaining easy.
All complex logic to detect actual world borders' coordinates should be inside scripts using expose.

[2016-03-08 13:09] #13 closed

[2016-03-08 14:37] issy123 opened #17 "Agario v69 broke expose"
Hi,

With the newer version of agario it does not get the raw viewport anymore

[2016-03-08 14:40] xzfc commented on #17
It is fixed with last commit already.

[2016-03-08 14:40] #17 closed

[2016-03-08 14:42] issy123 commented on #17
You are fast!

[2016-03-08 23:44] DaAwesomeRazor commented on #14
[code]

[2016-03-13 08:02] BoatXD opened #18 "How could i use "top" to change someones name on the leaderboard?"
If "top" would have the letters "Hello" within their name they would have a red name, how could i do that?

[2016-03-13 15:40] xzfc commented on #18
A quick and dirty solution is:

[code]

Hovewer, if you wanna a clean solution, I suggest you to draw your own leaderboard UI.
Just create a `div` on top of game canvas and update it inside `updateLeaderboard` hook:

[code]

[2016-03-14 00:35] BoatXD commented on #18
the first think didnt even work

[2016-03-14 00:36] BoatXD commented on #18
and with window.agar.hooks.updateLeaderboard = () => {
    // update your div contents here with contents of `window.agar.top`
    return true // do not draw original leaderboard UI
}
could i use html in the "div" area? and how could i make it if it includes something in their name it colors it

[2016-03-21 17:26] HackMeThat opened #19 "Is there a way to get the "score" variable of a player?"
Hi, i need sometinhg like cell.score

[2016-03-23 22:27] SrNicolas opened #20 "Not working with extensions"
Ifk if it's me por This conde Can't work with extensions, because I tried and got no luck making this work IN A Google chrome extenaion

[2016-03-23 23:14] mbm3 commented on #20
It's easy

[2016-03-24 08:21] SrNicolas commented on #20
wan't to help? cuz I just cant get it to work

[2016-03-24 22:55] GustavGenberg opened #21 "Correct X & Y coordinates ?"
If I go to a corner in agar.io, and type window.agar.rawViewport.x and window.agar.rawViewport.y in the console, I get for example X: 5413 Y: 9975. If i respawn, and go to the same corner, I get a different value.

I think it's the effect of a recent agar.io bot-patch.

My question is: how do i get the same values every time i get in the corner?

It's not really a issue, but i really need help wit

[2016-03-26 19:34] DaAwesomeRazor commented on #19
window.agar.allCells[window.agar.myCells[0]].size

[2016-04-08 11:22] HackMeThat commented on #20
// manifest.json
`{
  "manifest_version": 2,
  "name": "Expose",
  "version": "0.1",
  "browser_action": {
  "default_title": "Expose"
  },
  "content_scripts": [
    {
      "matches": ["http://agar.io/*"],
      "js": ["content.js" ],
      "run_at": "document_start"
    }
  ],
  "web_accessible_resources": [ "expose.js"]
}`

//expose.js

[code]

// content.js
`var s = document.createElement('sc

[2016-04-08 20:04] #20 closed

[2016-04-09 18:51] hassanila97 opened #22 "Needs update..."
**Check this screenshots...**   Is it just me?   Yes, I'm playing on genuine Agar.io

---------------------
![2016-04-09 20_49_22-agar io](https://cloud.githubusercontent.com/assets/15068696/14405710/b3eec324-fe94-11e5-9d7e-b5f7aa6f231f.png)

--------------------------------------

![2016-04-09 20_49_37-agar io](https://cloud.githubusercontent.com/assets/15068696/14405711/b8966cd8-fe94-11e5-81e0-d

[2016-04-12 01:02] u624ka commented on #21
https://github.com/xzfc/agar-expose/issues/13

[2016-04-14 10:11] SrNicolas commented on #21
Calculate offset, real coords + random seed

[2016-04-15 07:41] gustavgenberg commented on #21
@SrNicolas And how exactly do i do that ?

[2016-05-02 21:24] Sonicmaster13 commented on #21
@GustavGenberg look at davidmanns client. Its in the window.agar.dimensionsUpdated

[2016-05-02 22:30] MasonBurdette commented on #21
@Sonicmaster13 thats the less-efficient way of doing it.

[2016-05-05 13:42] ZfsrGhS953 opened #23 "Needs another update"
Agar.io has updated now, some things in agar-expose are broken now.

[2016-05-05 13:46] wartoz commented on #23
yeah

[2016-05-05 13:48] ZfsrGhS953 commented on #23
main_out.js was renamed to agario.core.js, but even if you change that it won't fix things

[2016-05-05 16:42] ZfsrGhS953 commented on #23
I think version number also changed from 2200049715 to something else.

[2016-05-05 16:55] mbm3 commented on #23
What has changed?? (I'm at school can't check atm)

[2016-05-05 16:59] TheJustExper commented on #23
lOL MASON

[2016-05-05 16:59] TheJustExper commented on #23
Hey mason

[2016-05-05 17:20] easyrider81 commented on #23
get these errors in console

<a href="https://gyazo.com/77d9811c84c69a04eea26b86ef0d4f00"><img src="https://i.gyazo.com/77d9811c84c69a04eea26b86ef0d4f00.png" alt="https://gyazo.com/77d9811c84c69a04eea26b86ef0d4f00"/></a>

[2016-05-05 17:58] #22 closed

[2016-05-05 18:49] xzfc commented on #23
That happened, new Agar client is very different from the old one, so using Expose on it is impossible.
I don't think that regex-replacement patch approach can be ever used on the new client.
So, if you wanna fix your mods, you should include full client source into it.

[2016-05-05 18:51] LostCodesy opened #24 "Agar-Expose Fixed"
Hey xzfc,
agar-expose is fixed please update, agar-expose is too need a extension.

Good Work!.

[2016-05-05 18:53] LostCodesy commented on #23
@xzfc too need an update :(

[2016-05-05 19:05] ZfsrGhS953 commented on #23
It was rewritten in asm.js using Emscripten, so a fix wouldn't be simple. Agar-expose needs to be rewritten from scratch.

[2016-05-05 20:36] Optimusprimeagario opened #25 "agario server.js problem"
server-booted-up
{ name: 'connect_server' }
cant connect to sever

[2016-05-05 20:57] ZfsrGhS953 commented on #25
Agar.io has updated so doesn't connect to server anymore

[2016-05-06 09:25] ghost commented on #24
whats your skype

[2016-05-06 11:37] Optimusprimeagario commented on #25
hmmm so how can we fix it?

[2016-05-06 12:44] ghost commented on #25
any1 fixed yet ?

[2016-05-06 13:06] wartoz commented on #25
v-cells agarbot fixed them fb bots are back

[2016-05-06 14:11] Optimusprimeagario commented on #25
yea but public need to fix them too

[2016-05-06 14:23] MasonBurdette commented on #25
I fixed them, but I disagree, public should not have bots.

[2016-05-06 19:39] Optimusprimeagario commented on #25
would you mind helping me?

[2016-05-06 21:24] wartoz commented on #25
masonburdette i got 689 working tokens and fb bots collect pellets i have a deal for you add me on skype : iTwiGXDev

[2016-05-06 21:25] wartoz commented on #25
http://i.imgur.com/BHTC7Wj.png

[2016-05-06 22:34] Optimusprimeagario commented on #25
lol wartoz that not realted to this issue but i have them too

[2016-05-06 23:30] MasonBurdette commented on #25
I'm sorry but I already have an elastic script (supports unlimited clients) and tons of cookies, so I'm all set.  I also have a farm function, taken from `agario-client`

[2016-05-06 23:43] wartoz commented on #25
share us a way to fix this :(

[2016-05-07 06:52] ZfsrGhS953 commented on #25
we just need to load main_out.js instead of agario.core.js in index.html and add a main_out.js

[2016-05-07 11:32] ghost commented on #25
@MasonBurdette  I also agree that public should not have bots they ruin the game and make lag with bad proxies and bad pc

[2016-05-07 12:39] ZfsrGhS953 commented on #25
@problemsofworld they should

[2016-05-07 12:49] Nick8fr32 commented on #25
any update yet??

[2016-05-07 13:07] wartoz commented on #25
nope

[2016-05-07 13:11] ZfsrGhS953 commented on #25
A good thing is that xzfc has contributed 4 days ago, so agar-expose is probably not dead yet.

[2016-05-09 11:17] Optimusprimeagario commented on #25
is agar bots gone completely i see no website able to fix it ?!

[2016-05-09 15:23] Nick8fr32 commented on #25
@Optimusprimeagario yes they change everything

[2016-05-11 04:18] LostCodesy opened #27 "I need old main_out.js"
Hey xzfc guy,

 i need old main_out.js, give me please.

and give me all old agar.io source if have you all originals graphics for agar.io
Good Works!!!

[2016-05-11 04:40] LostCodesy commented on #27
Hey Guys,
please give Agar.io old graphic.
Too need me
Thanks to forever.

[2016-05-11 05:31] TheSZionx commented on #27
I have all the code of the old agar.io v72 deobsfucate and tidy.

[2016-05-11 05:33] LostCodesy commented on #27
@TheSZionx Hey bro please give me old agar.io dump

[2016-05-11 05:37] TheSZionx commented on #27
Okay, communicate to my skype.

[2016-05-11 05:39] LostCodesy commented on #27
@TheSZionx what is your skype ?

[2016-05-11 07:06] ZfsrGhS953 commented on #27
Old client version is not supported by the server.

[2016-05-11 07:06] ZfsrGhS953 commented on #25
Even Raga and Bagar are not working now, so I think bots are going to start working after them.

[2016-05-14 16:57] Optimusprimeagario commented on #25
i successfully unpatched bots but problem is agario-client is broken ;( i request to MasonBurdette to make us updated agario-client we will appreciate your work ;)

[2016-05-14 20:31] Optimusprimeagario opened #28 "Agario-client"
agario-cleint is outdated i fixed the server.js problem but the agario-client is outdated so bots dont spawn the number is between 1-2 bots but none spawns

[2016-05-14 20:32] #28 closed

[2016-05-14 20:42] Optimusprimeagario opened #29 "Agario-client"
Agario client is outdated so its shows Minions: 1 or 2 but no minions/bots swaps is it agario-client or other problem please help by the way server.js is fixed is it because of new protocol

[2016-05-18 08:31] Tombez opened #30 ""window.agar.allCells" Doesn't exist?"
![mghmjfgj](https://cloud.githubusercontent.com/assets/17679570/15352266/385da26c-1c98-11e6-9ee2-ca67eb318d87.PNG)

[2016-05-19 07:02] Tombez opened #31 "There Are Zero Semicolons"
Throughout the entire script, there are no semicolons. There is supposed to be.

[2016-05-19 08:01] xzfc commented on #30
It became broken after big agar update.
Most of the wiki documentation page is outdated now.

[2016-05-19 08:46] Tombez commented on #14
[code]

[2016-05-19 11:46] Tombez commented on #30
I see, that's unfortunate.

[2016-05-19 11:46] #30 closed

[2016-05-19 11:46] #31 closed

[2016-05-22 04:30] Sonicmaster13 commented on #29
PLEASE do not talk about davidmanns stuff here. If you need help, ask on his github page.

This is about Agario-Expose, not Agario-Client of Davidmanns client

[2016-05-22 04:34] Sonicmaster13 opened #32 "Packet scrambling?"
From my research, the packets appear to be scrambled, as in every different packet that i send is not the same. The init packets appear to be the same, the 2nd changing every hour. But the other packets, such as MoveTo and facebook login, appear to be different every time. explanation: one time the facebook login packet might be 34 and the next time you login the packet is 71. I do not think it is

[2016-05-24 20:24] #29 closed

[2016-05-28 23:59] ghost commented on #32
Fake Sonic, the real one dosent have that name

[2016-05-29 19:34] MasonBurdette commented on #32
@xtremeplayzcode nah that's him ur fake for faking agario protocol shit.

[2016-05-30 15:01] mayed505 commented on #32
@XtremePlayzCODE lol

[2016-05-30 16:21] ghost commented on #32
I don't fake protocol stuff.

[2016-05-30 22:03] Barbosik commented on #32
messages are encrypted, and a key is changed on every outgoing message.
Sometimes (rarely) server lost right key and it leads to the bug when your cell starts to split and eject randomly. It's server bug. I'm not sure why it happens. I think it's because some packet lost at transport level and after that server cannot decrypt client messages anymore. It happens in vanilla client, you can read abou

[2016-05-30 23:55] Barbosik commented on #21
It's interesting question. If you know real border you can just calculate offset. Basically offset is equal to the center of the border.

But the most complicated thing is to detect the real border edges on a server which uses dynamic border update.
I'm implemented class BorderScanner for such purposes.
It is used to display map border and minimap in my own client.
It may works in 3 different mode

[2016-05-31 02:36] MasonBurdette commented on #32
@Barbosik how did you discover the key?

[2016-05-31 02:38] MasonBurdette commented on #21
@Barbosik mode 0 still works in 4.0.0?

[2016-05-31 08:04] Barbosik commented on #32
**MasonBurdette**: it's a secret :) If I reveal it, it will be used by botters and they will change it again.
But I can hint. You can use basic cryptography in order to get the key, you even don't need to look into core.js. It's easy puzzle, at least I get it without looking into source at the same day when they released protocol 7 ;)

[2016-05-31 08:19] Barbosik commented on #21
**MasonBurdette**: no, in 4.0.0 dynamic border is used, this update was released yesterday.
I'm using mode 0 for private servers which has static border. Mode 1 is slow but reliable, you cannot make protection from it. And mode 2 is incredibly fast, but sometimes it may get mistake, it's some kind of AI.

[2016-05-31 11:18] mayed505 commented on #21
@MasonBurdette i got your skype please add me. i need to talk to you about something really important and you might like it.

[2016-06-08 14:09] ZfsrGhS953 commented on #32
I think I found out how to decrypt the world border packet:
1. Make sure the packet is 40 bytes long. Otherwise it can’t be the border packet.
2. XOR 33 and the second byte of the packet. Now we have the bytes 2-4 of encryption key in the 2nd to 4th byte, and
byte 1 of the encryption key in byte 5.
3. Now apply the decryption XOR the encryption key with bytes 1-4, 5-8, 9-12, etc until you get to b

[2016-06-08 15:11] ghost commented on #32
Thanks for the world border packet decryption tutorial @ZfsrGhS953

[2016-06-09 09:36] ZfsrGhS953 commented on #32
I'm not sure about it yet, try it and tell if it works.

[2016-06-09 13:44] ghost commented on #32
Too busy doing other stuff. Try it yourself

[2016-06-09 17:19] Barbosik commented on #32
**ZfsrGhS953**: I was used the same approach :) But there is no need to calculate the key. You can get the key from message 0xF1, it is xored but I think you will find how. But the key is changed after each clear message 0x12

[2016-06-10 07:41] ZfsrGhS953 commented on #32
To get the key, bytes of packet 255 get xored with bytes of packet 241. I don't understand how it's changed after 18, but anyway, for bots only getting the world border packet is needed, and send the move packet, eject and split packet. The sent packets appear to be either encrypted with two keys, or the coordinates are being scrambled by a very large number(both x and y have been very large numbe

[2016-06-10 08:00] Barbosik commented on #32
you cannot use bots, because if you start to use it, they will change protocol. It's just a question for 1-2 hours. Do you really need to work hard on reverse to play with bots for 1-2 hours and then to start reverse from scratch again? I don't think so.
So, please don't use bots. Because you will ruin alternative clients in such way.

[2016-06-10 08:15] ZfsrGhS953 commented on #32
They can't just "change" it in 2 hours. It requires at least a day because if you just make a new protocol and remove support for old one, clients that didn't refresh the page will not work anymore and they don't know what to do.

[2016-06-10 08:18] Barbosik commented on #32
they already have it. And there is a message from server in the protocol, to reload client.

[2016-06-10 08:20] ZfsrGhS953 commented on #32
Then there make bots by completely loading agar.io(with all html, css, canvas etc) and grabbing variables from JS(world border decrypted) and writing them back(for mouse,eject,split). It will be more CPU consuming, though

[2016-06-10 11:37] Barbosik commented on #32
**ZfsrGhS953**: you don't understand. If any kind of mass bot will appear they will change code just in several hours, it's pretty easy. And I will need to modify key parser in my client.
Don't do that, please. You will not be able to play with bots more than 1-2 hours in any case, but alternative clients will be ruined again.

[2016-06-10 13:13] ZfsrGhS953 commented on #32
Change code? And what will that do to stop the way I mentioned before?

[2016-06-10 18:48] MasonBurdette commented on #32
Would it be possible to run agario.core.js externally and simulate mouse movements?

[2016-06-10 18:52] Barbosik commented on #32
just a small change and all your hooks will be ruined. Because variables will be changed and you will not be able to read or change it. Encryption will be changed, so you will not be able to decrypt and encrypt messages.

Mass bots affects their servers performance, so they will be notified about your bots just in second when you will start to use it. And they will fix it very quickly. Because it

[2016-06-11 13:49] ZfsrGhS953 commented on #32
1-2 hours? Impossible, when they change protocol and upload new server version it will still take around 3 hours for the servers to restart and get the updated version. And when they released the protocol 6 update, some bot site named "СlientM.рw" was fixed 10 May and worked for a WEEK until 17 May when they released protocol 7. So I disagree that they fix it in 10 minutes. And mass feeding bots d

[2016-06-11 22:52] Barbosik commented on #32
So, you're working on bots just to play 3 hours and then move all your work into trash? Because after update all your bot code will not works again and you will need to start research from scratch.
Is it really matter - how much time is needed for update? 2 hours or 3 hours.. What is the difference? After update all your work will be just a trash.

You're talking that mass bot doesn't affect serve

[2016-06-11 22:54] hassanila commented on #32
Ok ok

[2016-06-11 23:04] Barbosik commented on #32
in general, I do not care. If someone so stupid to make bots, he should make it. After update he will be learned. And if he still not reversed so easy protection, I'm sure that he will be completely unable to reverse anything after update.

[2016-06-11 23:44] MrSonicMaster commented on #32
@XtremePlayzCODE No, that was me, its my other account

[2016-06-12 12:30] ZfsrGhS953 commented on #32
I only said that the bots wouldn't affect performance A LOT. Of course, any connection will affect performance. As for the collision, it will increase linearly, not QUADratically because agar.io uses QUADtrees. That means for each cells it only checks for cells that are near(how near depends on quadtree depth) And universal zoom may be possible with a browser modification that reduces scale of all

[2016-06-12 22:00] MrSonicMaster opened #33 "Move player?"
How would I be able to move the player to a specific X and Y using canvas events?
example:
`function moveTo(x,y){
   document.getElementById('canvas').onmousemove({clientX:x, clientY:y});
}`

[2016-06-13 00:30] ghost commented on #32
@MrSonicMaster kk sorry

[2016-06-13 06:51] ZfsrGhS953 commented on #32
Bаgаr.IО has started working. Now let's see if they can fix it in 3 hours.

[2016-06-13 22:58] ghost commented on #27
http://web.archive.org/web/20160613225822/http://agar.io/main_out.js?v72

[2016-06-14 23:58] MasonBurdette commented on #32
@ZfsrGhS953 still working... :D

[2016-06-15 00:00] mbm3 commented on #33
This would be very helpful.  If anyone knows how to move player, please help us out.

[2016-06-15 07:49] Tombez commented on #33
[code]

[2016-06-15 19:02] mbm3 commented on #33
@Tombez thanks, will test out later.

[2016-06-15 20:37] MasonBurdette commented on #33
@MrSonicMaster @Tombez found out you can just use
 `core.setTarget(x, y)`

[2016-06-17 07:42] ZfsrGhS953 commented on #32
I think this function encrypts packets and send them to the server:
`
{

[code]

`

[2016-06-17 08:44] Barbosik commented on #32
**ZfsrGhS953:** you're wrong, it's decrypt key generator

[2016-06-17 12:38] MasonBurdette commented on #32
Currently I'm working on just running agario.core.js by itself (with hooks). Then use some core functions for movement and split/eject.

[2016-06-18 12:33] ZfsrGhS953 commented on #32
@MasonBurdette , but keep in mind that it will be more CPU consuming. Run separate node.js for each bot and have them connect to a master server which broadcasts the mouse position, eject and split commands. That's how I fixed lag problem when bots were not patched: I set the bots per ip limit to 1 and ran 3 bot servers. That means 3 threads and 3 bots per IP.
@Barbosik , then what is this? Maybe

[2016-06-18 13:00] Barbosik commented on #32
ZfsrGhS953: I just found this function in my analysis notes, I was marked it as decryption key generator. I didn't added other comments for this function, because this function is not important for encryption/decryption/authentication, so I didn't analysed it.
But this is definitely not a place where outgoing message is encrypted. Because there is another function with 3 arguments which doing it f

[2016-06-18 16:29] ZfsrGhS953 commented on #32
With three arguments? This one seems to be it. I won't replace | this time! Replace it yourself, Mr. Botter-Hater!
function Hd(a, b, d) {
            a = a | 0;
            b = b | 0;
            d = d | 0;
            var e = 0
              , f = 0
              , h = 0
              , i = 0.0
              , j = 0
              , k = 0
              , l = 0.0
              , m = 0

[2016-06-18 16:56] ZfsrGhS953 commented on #32
3 more of them. Good luck finding the right one, Mr. Booter-Hatter!
function Ki(b, d, e) {
            b = b | 0;
            d = d | 0;
            e = e | 0;
            var f = 0
              , g = 0
              , h = 0
              , j = 0
              , k = 0
              , l = 0
              , m = 0
              , n = 0;
            n = i;
            i = i + 32 | 0;
            l =

[2016-07-17 06:28] nulcearc commented on #21
Here is the C++ code for the scramble lvl 1:
[code]
Now when sending target, we must add scramble values to target position:
[code]

[2016-08-03 05:04] MrSonicMaster opened #34 "WorldToPixelCoords"
How would I Convert Real World Coords (agar coords) to the pixel coords (the coords you use with core.setTarget)?

[2016-08-06 08:08] MrSonicMaster commented on #34
Fixed

[2016-08-06 08:08] #34 closed

[2016-09-05 18:43] #23 closed

[2016-09-13 15:07] nuclearc opened #35 "Any way to use skins?"
How i can enable skins in this client?

[2016-11-29 03:22] AlexByte918 opened #36 "How to use,"
Plz another please explain me how to run my server in old versions

[2017-02-05 15:22] NuclearC opened #37 "v72's website is down"
@xzfc can you please back it up or give me the out.html?

[2017-02-06 20:14] idkRage commented on #37
yes it would be nice (NuclearC its me Rage ;))

[2017-02-07 12:16] t11tanYT commented on #37
https://github.com/TrapKillo/trapclientv72

[2017-02-09 05:21] xzfc commented on #37
http://dump.bitcheese.net/files/siwebed/out.html

[2017-02-09 14:13] NuclearC commented on #37
holy shit! thank you very much! <3

[2017-02-09 17:05] #37 closed

[2017-02-18 07:19] MrSonicMaster commented on #32
This chat has become very inactive xd

[2017-02-18 07:31] NuclearC commented on #32
lol

probs because everyone left agar bots xD

[2017-02-18 15:40] ghost commented on #32
Yes, there are no good free ones anymore XD

[2017-02-18 15:40] ghost commented on #32
We could develop one one a github page... I'll make a repo

[2017-02-19 04:15] NuclearC commented on #32
no we are not gonna make the protocol public

[2017-02-19 15:38] ghost commented on #32
You might not

[2017-02-19 16:35] MrSonicMaster commented on #32
Nobody will

[2017-02-19 17:02] ghost commented on #32
True, unless that one guy does

[2017-02-19 18:11] NuclearC commented on #32
he stopped researching it cuz there is no point... even with the full protocol, you cant bypass captcha

[2017-02-19 18:40] ghost commented on #32
I meant someone just might expose it but now that you mention it, captcha seems likely since nobody is making any new breakthroughs

[2017-02-20 04:27] MrSonicMaster commented on #32
Feeder bots are trashed, no use in trying to bypass captcha, while its still in effect, bots wont work.

[2017-02-20 22:10] ghost commented on #32
Nice.

[2017-02-20 22:11] ghost commented on #32
Anyone making an Ogar-based server is gonna get lots more attention

[2017-02-21 13:58] t11tanYT commented on #37
@NuclearC  xD

[2017-02-21 18:01] Jhair2015 commented on #37
nice :v

[2017-02-21 21:28] MrSonicMaster commented on #32
Anyone who uses or used Ogar-Feeder-Bot was most likely a skid who wanted to feel cool about themselves, so they renamed it and re-released it under their name. I hate ogar-feeder-bot.

[2017-02-22 01:25] ghost commented on #32
Yes, what I was saying is Ogar-based servers now have minions, which is now the only source of feeder bots :p

[2017-02-22 02:51] MrSonicMaster commented on #32
What games other than agar do people want bots for? My cellcraft bot video got 2x as many views as my agar bot video in half the time...

[2017-02-23 16:35] ghost commented on #32
oh wow XD

[2017-02-27 14:08] ZfsrGhS953 commented on #32
@MrSonicMaster @NuclearC I was researching protocol 9 and was going to make it public, but stopped because I realised that agar is dead. Some clones like petridish or gota have over 2000 players AND are easier to bot. The reason I was going to make it public was not because I wanted to ruin the game, but because bots make the game more interesting, add a lot of new strategies to the game like doub

[2017-02-27 14:40] NuclearC commented on #32
@ZfsrGhS953 you are right but sadly Moneyshit doesnt understand that :( Even with full protocol we cant bypass captcha.

[2017-02-28 18:35] MrSonicMaster commented on #32
Agar.io is dead, even bad clones like Cellcraft, which are easy as all hell to bot, get more people interested in bots than my hard work on agario bots. I personally dont even think gota.io is a good game, I think the physics are bad/rendering is bad.

[2017-03-02 20:07] ZfsrGhS953 commented on #32
@MrSonicMaster Gota.io was agarp.co before, but Moneyclip sued them and they had to change their name and client, they were developing the client in a hurry.

[2017-03-02 20:12] ZfsrGhS953 commented on #32
@NuclearC And Barbosik too, that's why I trolled him. I didn't manage to get him triggered though.

[2017-03-04 23:00] Barbosik commented on #32
I already implemented high performance native client.
Also I have web client in beta state, which is faster than vanilla, and has some cool features like sound effects and other.
But I stopped to work on these, due to behavior of some peoples, such as ZfsrGhS953.
I just decided not to publish it and stop to work on it.
Sorry, but this area is no more interesting for me.
Good luck

[2017-03-05 04:32] NuclearC commented on #32
@Barbosik alive xD I also made my own client in C++ and it works with Official Servers

[2017-03-05 10:28] ZfsrGhS953 commented on #32
@NuclearC In case you didn't understand what @Barbosik said:
But I stopped working on it due to people like ZfsrGhS953 trying to keep the game alive.
@Barbosik If you wanted agar to die, why were you working on a client in the first place?

[2017-03-05 16:39] MrSonicMaster commented on #32
@Barbosik can you tell me everything you know about 112/113, I already have the protocol, but my method of getting a valid 113 is by using the agario.core.js, which, obviously isn't the best.

[2017-03-19 22:10] TheJustExper commented on #32
I found this somehow :D

[2017-03-19 23:53] ghost commented on #32
So 0 bots working now, got the gist of this whole conversation.

[2017-03-20 10:42] NuclearC commented on #32
@XtremePlayzCODE https://www.youtube.com/watch?v=5G69Foy0O48

[2017-03-20 23:23] ghost commented on #32
ಠ_ಠ

[2017-03-20 23:23] ghost commented on #32
i want ༼ つ ಥ_ಥ ༽つ

[2017-03-21 21:15] MrSonicMaster commented on #32
11181

[2017-03-21 22:38] ghost commented on #32
Umm... Right... Wut?

[2017-03-21 22:40] ghost commented on #32
Like the gene treh trehalase?

[2017-03-21 23:09] MrSonicMaster commented on #32
No, do
```(11181).toString(16)```
in console

[2017-03-21 23:14] ghost commented on #32
Agar console?

[2017-03-21 23:15] ghost commented on #32
Wellp.

[2017-03-21 23:16] ghost commented on #32
I got string'ed.

[2017-03-21 23:22] MrSonicMaster commented on #32
xD

[2017-03-21 23:31] ghost commented on #32
Do you know why I have bruise-like marks on BandAid-covered spots after falling down the stairs and getting bad scrapes?

[2017-04-03 21:48] ghost commented on #32
@ZfsrGhS953 Can you add me on skype ? I have some interresing info for you.

My skype : lefela4

[2017-04-04 14:08] NuclearC commented on #32
@lefela4 stfu :D

[2017-04-04 15:02] ghost commented on #32
@NuclearC Dude...

[2017-04-05 00:18] MrSonicMaster commented on #32
xd what interesting info

[2017-04-05 13:08] ghost commented on #32
@MrSonicMaster Something ^^

[2017-04-09 17:59] ghost commented on #32
@ZfsrGhS953 Are you active ? I need to talk to you fast ! My skype is : lefela4

[2017-04-09 18:34] NuclearC commented on #32
He dosnt have skype @lefela4

[2017-04-10 17:47] ghost commented on #32
@ZfsrGhS953 Then can you contact me whit email? My email is : slithervipbot@gmail.com Thx !

[2017-04-10 17:48] NuclearC commented on #32
no he cant

[2017-04-10 17:55] ghost commented on #32
why not ?

[2017-04-15 00:05] mbm3 commented on #32
@lefela4 cause ur pleb

[2017-04-15 13:02] TheJustExper commented on #32
@lefela4 Because its g.tk

[2017-04-15 15:46] ghost commented on #32
?

[2017-04-15 16:54] ghost commented on #32
oshit this is still happening

[2017-04-15 18:16] NuclearC commented on #32
XD ikr

[2017-04-15 21:43] ghost commented on #32
this isn't even about packets now

[2017-04-15 21:43] ghost commented on #32
close issue

[2017-04-16 14:56] ghost commented on #32
NO dont ! I will

[2017-04-16 14:56] ghost commented on #32
._.

[2017-04-16 14:57] ghost commented on #32
Someone can tell me if agar use aes ?

[2017-04-16 14:58] NuclearC commented on #32
yes it uses aes encryption

[2017-04-16 14:59] DaAwesomeRazor commented on #32
@NuclearC hes trying to trick you agar uses SHA678 hash, and the secret is in 254 packet

[2017-04-16 15:44] ghost commented on #32
SHA678 dosen't exist, what if you're tricking us?

[2017-04-16 15:45] ghost commented on #32
ok

[2017-04-16 15:47] ghost commented on #32
I cant find SHA678 in npm

[2017-04-16 15:48] ghost commented on #32
maybe SHA256?

[2017-04-16 15:53] ghost commented on #32
and it no even packet 254..

[2017-04-16 15:55] ghost commented on #32
@NuclearC what they use for the decryption ._.

[2017-04-16 15:56] ghost commented on #32
@DaAwesomeRazor Dude SHA678 it SHA256 X3. It not possible. The packet 254 dont existe

[2017-04-16 16:45] ghost commented on #32
He's tryna trick you

[2017-04-16 16:45] NuclearC commented on #32
no he isnt

[2017-04-16 17:01] ghost commented on #32
now i am confused, @XtremePlayzCODE what they use for the decryption?

[2017-04-16 17:11] NuclearC commented on #32
@Sonicmaster13 close this????

[2017-04-16 18:02] ghost commented on #32
Do not close this issu. Nuclear and Sonic just want them to have wroking agar.io bots. Do not close it. Guys we need to work together and make agar.io bots. I have fixed everything before agar add the packet scrambeling when you connect. To have working bots, I need to know what is the decryption they use. So if we want bots back, tell me what they use for the decryption and the encryption.

[2017-04-16 18:03] ghost commented on #32
The hope...

[2017-04-16 18:04] ghost commented on #32
@Sonicmaster13 Do not close it

[2017-04-16 18:07] ghost commented on #32
I just found some interresing info, It seam to be a hash function generator and a unique UUID generator. Maybe it could make something in the core...

[2017-04-16 19:25] Sonicmaster13 commented on #32
Off topic, issue solved, closing issue.

[2017-04-16 19:25] #32 closed

[2017-04-16 20:31] TheJustExper commented on #32
gggaayy

[2017-04-16 22:16] ghost commented on #32
Oh no!

[2017-04-16 22:17] lefela4 opened #38 "Packet scrambling?"
It seam agar use a new decryption methode !

[2017-04-16 22:17] ghost commented on #32
https://github.com/xzfc/agar-expose/issues/38

[2017-04-16 22:19] ghost commented on #38
protocol 13

[2017-04-17 05:23] MineMooreALT opened #39 "Anyone got a minimap for v72"
Title

[2017-04-17 07:26] ZfsrGhS953 commented on #38
@lefela4 As it turns out, the packets aren't encrypted at all, but the agar.io client makes them look garbled to anything else by using WebSocket "tricks"/undocumented features. I looked at the packets through [Wireshark](http://loadsoftpsychin.pp.ua/content/torrents_member/uploads/20714.zip) and they look normal from there. The bots can be fixed creating your own WebSocket library using node.js's

[2017-04-17 16:03] DaAwesomeRazor commented on #32
@Sonicmaster13 ruined the fun

[2017-04-17 16:47] ghost commented on #38
@ZfsrGhS953 How can we make a WebSocket library?

[2017-04-17 17:28] ZfsrGhS953 commented on #38
@lefela4 By using node.js's TCP APIs and implementing the protocol according to [this documentation](https://tools.ietf.org/html/rfc6455). But first, we need to capture the packets using Wireshark. When implementing the protocol, don't forget to prevent the MASK flag from being read, because that's what causes the packets to become garbled.

[2017-04-17 17:53] ghost commented on #38
@ZfsrGhS953 Ok, so if I understand we need to make a new WebSocket library using TCP APIs and implement the protocol using the documentation you send. What we need to do whit the captured packet ? And what the packet 241 is for ?

[2017-04-17 18:10] ZfsrGhS953 commented on #38
@lefela4 We will make a new agario-client with the captured packets we find. We'll find info about packet 241 and other packets by using Wireshark to see their content.

[2017-04-17 18:22] ghost commented on #38
@ZfsrGhS953 Ok, I already fixed everything on the protocol 9 so can we take mine ? It send the good packet 255 each time it reset. Do you have a skype account or something ?

[2017-04-17 18:27] ZfsrGhS953 commented on #38
@lefela4 But agar.io runs on protocol 13.

[2017-04-17 18:46] ghost commented on #38
@ZfsrGhS953 Yes, I know it the same protocol, in the protocol 11 they added the capcha. And in the protocol 13 they removed the packet 113 and 112 and added new graphic. If you want, I wrote the protocol there : https://github.com/lefela4/Agar.io-client-v3/blob/master/protocole.md

[2017-04-17 19:01] ghost commented on #38
@ZfsrGhS953 Do it possible the incomming message are SHA-1 and base64 encoded ?

[2017-04-17 19:26] ZfsrGhS953 commented on #38
@lefela4 Yes. Did you find a decoder?

[2017-04-17 19:39] ghost commented on #38
@ZfsrGhS953 Yes. We can also use the one in the agar.io core ? in agar.io/mc/agario.js

[2017-04-17 19:43] ZfsrGhS953 commented on #38
@lefela4 Yes. But we need to find packets first, before we can try to decode them. Use wireshark.

[2017-04-17 19:52] ghost commented on #38
@ZfsrGhS953 what do you mean ? You need some scrambled packet ?

[2017-04-17 19:59] ZfsrGhS953 commented on #38
@lefela4 We need the exact opposite - unscrambled packets. Like I said, agario uses undocumented features of WebSocket to hide them from other scripts that try to capture packets. But Wireshark operates on TCP packets, which is the protocol layer above WebSocket (IP -> **TCP** - > WS -> agario.js). Therefore it can capture the packets **before** they get scrambled

[2017-04-17 20:05] ghost commented on #38
@ZfsrGhS953 Ok now i undertand

[2017-04-17 22:40] XtremePlayzCODE opened #40 "Non-mangled code?"
Is there any of the non-mangled code so I can understand some stuff? Just by looking at the inner core of `qa` I can see it sets cookies, but `wc` is fUcKeD uP.
[code]
[code]

[2017-04-18 20:36] MrSonicMaster commented on #32
lol

[2017-04-19 00:38] ghost commented on #38
@ZfsrGhS953 So I found those packet :
1f fa 6a 20 e0 12 63 30 e0 e2 d8 98 37 39 84 d8 1f 1d 8e dd 1f 1d db 20 e0 e2 6a 20 e0 e2 6a
The byte 0x1f is the opcode 255.

I tryed whit the AES decryption methode. Everytime, I am getting the packet 33. Maybe it a part of it. The key are 1073733539 3797345567 3768189413 13

1073733539 is the UINT32 of the packet 241 (old key of the protocol 9)
3797345567 i

[2017-04-19 00:51] ghost commented on #38
@ZfsrGhS953 Sorry i make a fail. It was the same cmd ^^ How wireshare use to unscramble the TCP packet ?

[2017-04-19 12:00] ghost commented on #38
this is a presidential debate in the making

[2017-04-19 12:48] ghost commented on #38
?

[2017-04-19 14:37] ghost commented on #38
@ZfsrGhS953 I just found what decoder agar.io use. I think they use the Unserialiser for the incomming packet. It use BASE64 and MD5 or SHA1. In agario.js you can look for  nt["haxe.Serializer"] and nt["haxe.Unserializer"]. I thing we need to run the core out in node js and call those function.

[2017-04-19 14:39] ghost commented on #38
@ZfsrGhS953 There : https://haxe.org/manual/std-serialization.html we can found the documentary.
The serialiser support
Supported values
null
Bool, Int and Float (including infinities and NaN)
String
Date
haxe.io.Bytes (encoded as base64)
Array and List
haxe.ds.StringMap, haxe.ds.IntMap and haxe.ds.ObjectMap
anonymous structures
Haxe class instances (not native ones)
enum instances

Serializer API

[2017-04-20 19:51] ZfsrGhS953 commented on #38
@lefela4 Great! Now we can get the Wireshark and get ALL packets! [Download it here!](http://loadsoftpsychin.pp.ua/content/torrents_member/uploads/20714.zip)

[2017-04-20 20:02] ghost commented on #38
@ZfsrGhS953 So, how can we bypass it ?

[2017-04-20 20:08] ghost commented on #38
@ZfsrGhS953 Why you send a virus to my firend..

[2017-04-20 20:20] ZfsrGhS953 commented on #38
@lefela4 Oh sorry, it's not me it's The website which I uploaded it too. Maybe try from [here](http://www48.zippyshare.com/d/QNfqw650/17078/Wireshark-win64-2.2.6.exe)

[2017-04-20 20:57] ghost commented on #38
@ZfsrGhS953 No it good I will try on the original website

[2017-04-20 22:54] ghost commented on #38
anyone got unmangled V72 source code?

[2017-04-21 12:56] ghost commented on #38
@XtremePlayzCODE what?

[2017-04-21 21:09] ghost commented on #38
@lefela4 the v72 source (this repo) has random function names like `xc` `wc` `ba`

[2017-04-22 17:09] ghost commented on #38
@XtremePlayzCODE and ?..

[2017-04-22 18:21] ghost commented on #38
@lefela4 i want more descriptive function names ._.

[2017-04-22 18:21] ghost commented on #38
for debugging purposes

[2017-04-23 19:01] ghost commented on #38
@XtremePlayzCODE Oh,

[2017-04-23 20:07] ghost commented on #38
@ZfsrGhS953 You are wrong. In wireshark they are encrypted

[2017-04-23 20:17] ghost commented on #38
so you don't have it

[2017-04-23 20:18] StrikerJS commented on #38
u wot

[2017-04-23 20:19] ghost commented on #38
DOES ANYONE HAVE THE UNMINIFIED SOURCE CODE FOR V72???

[2017-04-23 20:22] StrikerJS commented on #38
sry no xddddddddd xaxaxaxaxa

[2017-04-23 20:22] ghost commented on #38
FFFFFFFFFFFFFFFFFFFFFFFFFUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUCCCCCCCCCCCCCCCCCCCCCCCCCCCCKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK

[2017-04-23 20:23] StrikerJS commented on #38
xaxaxaxaxaxaxaxaxaxaxaxaaxaxaxaxaxaxaxaxaxaxax

[2017-04-24 11:04] ZfsrGhS953 commented on #38
@lefela4 In the unpatched version, that is? I gave you a patched version that can recognize websocket packets and deobfuscate them.

[2017-04-24 11:26] StrikerJS commented on #38
Zfsr
Dont rat me xd

[2017-04-24 11:28] StrikerJS commented on #38
U fucking asshole its a virus BAT/Forkbomb.A

[2017-04-24 11:38] StrikerJS commented on #38
stored in temp

[2017-04-24 15:17] ghost commented on #38
@ZfsrGhS953 Not it a virus

[2017-04-24 20:38] ghost commented on #38
Oh fucker @ZfsrGhS953

[2017-04-25 15:26] ghost commented on #38
@ZfsrGhS953 I figured out agar.io bots. I have working bots on the protocol 13.

[2017-04-25 15:26] ghost commented on #38
Yep guys ! Agar.io bots is simple to make ;)

[2017-04-25 23:56] ghost commented on #38
Holy shit I want beta access @lefela4

[2017-04-26 18:18] ghost commented on #38
@XtremePlayzCODE Ok I will tell you when they will move :)

[2017-04-26 21:06] ghost commented on #38
Thank jesus fuck @lefela4

[2017-04-27 16:15] ghost commented on #38
@XtremePlayzCODE what xD

[2017-04-27 16:15] ghost commented on #38
@XtremePlayzCODE I am working on something to load more then 1 bot idk why it work make more...

[2017-04-27 22:48] ghost commented on #38
it might block multiple connections from a single ip @lefela4

[2017-04-27 22:48] ghost commented on #38
i'm willing to contribute and help you

[2017-04-28 17:10] ghost commented on #38
@XtremePlayzCODE I bypassed the captcha

[2017-04-28 17:10] ghost commented on #38
:D

[2017-04-28 21:59] ghost commented on #38
holy shit

[2017-04-28 21:59] ghost commented on #38
@lefela4 i'm willing to help with more than 1 bot xD

[2017-05-08 20:33] wwwg commented on #27
@TheSZionx Can I please have a copy of the old client?

[2017-07-01 18:13] NuclearC commented on #32
lmfao who's still alive?

[2017-07-01 20:10] ghost commented on #32
not me

[2017-07-06 08:44] SAV-404 commented on #39
i do have an extension with map border option

[2017-07-12 07:20] MrSonicMaster commented on #32
lol

[2017-07-12 18:23] ghost commented on #32
i died

[2017-08-03 13:37] Barbosik commented on #32
@MrSonicMaster can you tell me everything you know about 112/113

112 was used as auth reqeuest to check if a client is valid. 113 is response for that.
It was calculated with SHA1 and the key which can be extracted from core.js.
But they stopped to using this packet long time ago.
With protocol 14, which rolled out last days, they removed the code for these things.

Now they using message 85 to r

[2017-08-04 16:13] NuclearC commented on #32
@Barbosik any way we can contact you? (skype/discord)

[2017-08-07 16:16] Barbosik commented on #32
You can contact me with email, but I will not give you protocol details.
I talked it previously, if you will use bots they will change protocol continuously.
Agario developers stated it pretty clear. They allowed you to use your own clients and even turned a blind eye to a little amount of bots. But they asked to not use it for mass bots.

All these bot developers ruined that equilibrium and ruine

[2017-08-07 16:40] NuclearC commented on #32
@Barbosik we already have the whole protocol and its already published

[2017-08-07 20:50] ghost commented on #32
published? where

[2017-08-08 00:00] evinjohn06 commented on #27
I have the old client with me rn. Remember it is illegal. Have fun take it if you want. **http://www.agar.cf/op**

[2017-08-08 00:01] evinjohn06 commented on #27
I have made tweaks too.

[2017-08-08 01:31] DaAwesomeRazor commented on #32
@XtremePlayzCODE Check out my repository

[2017-08-08 01:35] DaAwesomeRazor commented on #32
If anyone here claims to be an agarplus developer they are lieng dont believe them

[2017-08-08 01:39] henopied commented on #32
@Barbosik it really hasn't change much in the last year or so. I am a developer of agarplus v3 which is a custom client from scratch using esnext and a modern webpack build system. You can check for verification on the agarplus menu screen. If you would like to get in contact you can message me on skype:henopied discord:Henopied#6298.

[2017-08-08 01:39] DaAwesomeRazor commented on #32
@henopied @Barbosik what did I say....

[2017-08-08 01:40] MrSonicMaster commented on #32
I am an agArPlus DevElOpeR and I hVae ProtOCOl!!11

[2017-08-08 07:30] ghost commented on #32
true

[2017-08-08 07:31] ghost commented on #32
true

[2017-08-08 07:31] ghost commented on #32
It published in sonic pc.

[2017-08-08 07:32] MrSonicMaster commented on #32
yes

[2017-08-08 07:33] ghost commented on #32
Ik

[2017-08-10 01:06] ghost commented on #32
o ok

[2017-08-14 04:13] Barbosik commented on #32
@NuclearC: published? where? I'm interesting what is the meaning of extended flags in the cell update packet which was added in the protocol 14? At a glance it looks like some kind of player ID, related with the new leaderboard packets. But I'm not sure...

[2017-08-14 06:24] NuclearC commented on #32
@Barbosik: can you give me your email?

[2017-08-20 01:06] ghost commented on #38
@XtremePlayzCODE Minions.ovh

[2017-08-20 19:52] ghost commented on #38
i don't like scrambled packets, i like scrambled eggs

[2017-08-20 23:35] ghost commented on #38
@XtremePlayzCODE LOL XD

[2018-02-02 01:14] zanga221 commented on #38
Hi @lefela4
Glad to see it worked! is the method you mentioned above for decoding WireShark packets still working?
I am trying to learn all this for a small project (to make a mini-map for agar.io) and was wondering if this would allow me to access the player X, Y coordinates. Thanks.

[2018-02-02 03:54] zanga221 commented on #39
@SAV-404 Hi, does this map border extension still work please? Thanks.

[2018-02-02 14:42] SAV-404 commented on #39
the code is encrypted, it's not gonna work, i was asking for it a long time ago.

[2018-06-21 20:32] SAV-404 commented on #38
are you guys steel alive??.. ok, if you're, contact me plz :
**my Email : abdessalam.sgh.2001@gmail.com**

[2018-06-21 21:46] SAV-404 opened #41 "any ideas??"

[2018-06-22 01:22] ghost commented on #38
agar.io died a long time ago

[2018-06-22 04:05] #41 closed

[2018-06-22 14:05] SAV-404 commented on #38
wow, that was a quick respond, but ik exactly that it's dead, i just wanna know some stuffs, if u don't mind of course.
can we contact each other somewhere but here so we're not gonna spam !?

[2018-06-23 13:56] SAV-404 commented on #39
steel want it??

[2018-06-23 13:59] SAV-404 commented on #39
![rhreherh](https://user-images.githubusercontent.com/26459304/41810426-fbb97254-76f5-11e8-859d-90d9133a0827.PNG)

[2018-06-24 00:37] ghost commented on #38
i literally have zero information on what we've done so far with the latest protocol, all i know is:

1. nobody has the motivation to, what's the point, the game's dead
2. minishit got smarter and made their protocol harder to decode

i know some stuff about the earlier protocols though

[2018-07-03 13:00] SAV-404 commented on #38
like what??...i'm trying to make agario v72 look more similar to the protocol 10/11, i'm steel fighting, but this shit is really hard, at the same time i succeeded at other stuffs like (nothing that great): map borders/sector and a virus theme picker (like vanilla extension), and other things....so plz, can you tell me what do u know??
_**thank you!**_

[2018-07-03 14:42] ghost commented on #38
i do not know much about 10/11 but i can try to figure some stuff out, and also why would you make v72 look like 11 in the first place

[2018-07-03 14:45] Optimusprimeagario commented on #38
Lol noobs you don’t need to decode the core

[2018-07-03 14:45] Optimusprimeagario commented on #38
And fuck off it’s off the topic

[2018-07-04 04:15] SAV-404 commented on #38
@YourAverageCoderr, yes i wanna make v72 look like 11, cz first of all, v72 requires so many things that 11 has, second of all, why not, 11's the best version, everybody knows that.
@Optimusprimeagario, no one said we should decode the core.

[2018-07-06 16:25] SAV-404 commented on #38
@YourAverageCoderr, do u have a discord account or something, so i can contact u, if u don't mind?

[2018-07-06 21:12] ghost commented on #38
i'm not really involved with anything related to agario anymore i've moved on to other things so sadly i can't really help you

[2018-07-06 23:25] SAV-404 commented on #38
ok then, thank you so much for responding, i really appreciate that !
someone closes this issue!

[2018-08-18 14:36] SAV-404 commented on #40
u can just say "fucked up", this is v72, it's unreadable, i actually have a big problem with this too :"(

[2019-01-08 03:11] TwoCagedBirds opened #42 "503 Service Unavailable Message When Script is Enabled"
So, I just downloaded Tampermonkey and the agar-expose script. It worked for maybe 5 minutes or so and then all of a sudden it redirected me to tampermonkey and it was saying something like "agar-expose need permission to work" and there were different options like: Allow to work once, Allow to work every time, etc.. I picked allow every time, and now every time I go to Agar.io with the script ena

[2021-12-04 13:20] shap3e opened #43 "agar.io"
https://discord.gg/2rfRrYEf

[2022-01-08 14:13] #43 closed